process {
    withName: 'PROCESS_1' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PROCESS_2' {
        ext.args   = { "if any required" }
        ext.prefix = { "${meta.id}_if_any_required" }
        publishDir = [
            path: { "${params.outdir}/PROCESS_2" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DUMP_SOFTWARE_VERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "${params.publish_dir_mode}",
            pattern: '*_versions.yml'
        ]
    }
}