process {  
    withName: 'readsCount' {
        publishDir = [
            path: { "${params.outdir}/readsCount" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_COVERAGE' {
        ext.args   = { "-A -r ${meta.referenceName}:${meta.startCutSite}-${meta.endCutSite}" }
        publishDir = [
            path: { "${params.outdir}/SAMTOOLS_COVERAGE" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXTRACT_COVERAGE' {
        publishDir = [
            path: { "${params.outdir}/EXTRACT_COVERAGE" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DUMP_SOFTWARE_VERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "${params.publish_dir_mode}",
            pattern: '*_versions.yml'
        ]
    }
}