process {
    withName: 'readsCount' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/SAMTOOLS_INDEX" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_COVERAGE' {
        ext.args   = { "-A -r ${meta.reference_path.baseName}:${meta.5_guide_cut_pos}-${meta.3_guide_cut_pos}" }
        publishDir = [
            path: { "${params.outdir}/SAMTOOLS_COVERAGE" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DUMP_SOFTWARE_VERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "${params.publish_dir_mode}",
            pattern: '*_versions.yml'
        ]
    }
}